<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122115670410-691um35v82euv0vo77mfjg3ed6c7drp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122115670410-691um35v82euv0vo77mfjg3ed6c7drp7</string>
	<key>API_KEY</key>
	<string>AIzaSyAu44Vg4PIZJ4yOzO3q8DwB5ezGSu0Xgvk</string>
	<key>GCM_SENDER_ID</key>
	<string>122115670410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmedB22.WithStudy</string>
	<key>PROJECT_ID</key>
	<string>withstudy-678b7</string>
	<key>STORAGE_BUCKET</key>
	<string>withstudy-678b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122115670410:ios:469c6d7a85ad3e7d564873</string>
	<key>DATABASE_URL</key>
	<string>https://withstudy-678b7-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>